# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.venv
.vscode
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
AGENTS.md

# Vite
.env

# My own
docs/
old/
function.zip
lambda.zip
template.yaml
template.old-local.yaml
.aws-sam/
AGENTS.md

test-lambda.sh
test_event.json
test_response.json
scripts/setenv-preview.sh
scripts/setenv-production.sh

policies/
package/